<section class="main-menu">

    <h1 class="heading"> our <span>menu</span> </h1>
     <div class="search-form">
        <input type="search" id="search-box" placeholder="Search here..." />
        <label for="search-box" class="fas fa-search"></label>
      </div>
    <div class="filter">
        <ul>
            <li class="list active" data-filter="All">all</li>
            <li class="list" data-filter="Food">Food</li>
            <li class="list" data-filter="Fruit juice">Fruit juice</li>
            <li class="list" data-filter="Campuchino">Campuchino</li>
        </ul>
    </div>
    <div class="box-container">
        <div class="box">
            <a href="/detail"><img src="images/menu-1.png" alt=""></a>
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="/detail" class="btn1">add to cart</a>
        </div>
        <div class="box">
            <a href="/detail"><img src="images/menu-2.png" alt=""></a>
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="/detail" class="btn1">add to cart</a>
        </div>
        <div class="box">
            <a href="/detail"><img src="images/menu-4.png" alt=""></a>
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="/detail" class="btn1">add to cart</a>
        </div>
        <div class="box">
            <a href="/detail"><img src="images/menu-3.png" alt=""></a>
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="/detail" class="btn1">add to cart</a>
        </div>
        <div class="box">
            <a href="/detail"><img src="images/menu-2.png" alt=""></a>
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="/detail" class="btn1">add to cart</a>
        </div>
        <div class="box">
            <a href="/detail"><img src="images/menu-5.png" alt=""></a>
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="/detail" class="btn1">add to cart</a>
        </div>
        <div class="box">
            <a href="/detail"><img src="images/menu-6.png" alt=""></a>
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="/detail" class="btn1">add to cart</a>
        </div>
        <div class="box">
            <a href="/detail"><img src="images/menu-2.png" alt=""></a>
            <h3>tasty and healty</h3>
            <div class="price">$15.99 <span>20.99</span></div>
            <a href="/detail" class="btn1">add to cart</a>
        </div>


    </div>
    <ul class="pagination">
        <li><a href="#" class="prev">
                < pre</a>
        </li>
        <li><a href="#" class="pageNumber">1</a></li>
        <li><a href="#" class="pageNumber">2</a></li>
        <li><a href="#" class="pageNumber">3</a></li>
        <li><a href="#" class="pageNumber">4</a></li>
        <li><a href="#" class="next">5</a></li>

        <li><a href="#" class="prev">Next ></a></li>
    </ul>
</section>